.pm-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(3px);
}

.pm-modal {
  width: 400px;
  background: #fff;
  border-radius: 16px;
  padding: 25px;
  display: grid;
  gap: 18px;
  position: relative;
  animation: popup .35s ease;
  box-shadow: 0 10px 35px rgba(0,0,0,.25);
}

.pm-close {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
  color: #0c0b0b;
  z-index: 10000;
}

.pm-title {
  text-align: center;
  font-size: 20px;
  color: #222;
  margin-bottom: 10px;
}

.pm-section label {
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.pm-section input,
.pm-section select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.pm-summary {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: bold;
  color: #000;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 8px;
}

.pm-btn {
  background: #6a0dad;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: .25s;
}

.pm-btn:hover {
  background: #540a9a;
}

@keyframes popup {
  from { opacity: 0; transform: scale(.7);}
  to   { opacity: 1; transform: scale(1);}
}
