.cart{
    margin-top: 15vh;
}
.cart-title{
    background-color: rgb(95,1,95);
    border-radius: 5px;
}
.cart h1{
    text-align: center;
    font-size: clamp(1.5rem,2.5vw,3rem);
    margin-bottom: 2rem;
    color: white;
}
.cart-items{
    width: 100%;
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    font-size: max(14px, 1vw);
    background-color:rgb(29, 1, 29) ;
}
.cart-items-title{
    font-weight: 700;
    color: white;
    border-radius: 4px;
    border-bottom: 2px solid rgb(78, 1, 78);
    padding: 10px 10px;
    font-size: clamp(1rem,1.5vw,1.5rem);
}
.cart-items-item{
    color: black;
    font-size: clamp(1.3rem,1.3vw,1.8rem);
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    font-weight: 600;
    align-items: center;
    border-bottom: 1px solid rgb(139, 136, 139);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.cart-item-image{
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
}
.cart-item-remove{
    color: gray;
    font-size: 12px;
    width: 30px;
    height: 4vh;
    text-align: center;
    cursor: pointer;
    transition: 0.8s;
    border-radius: 4px;
    
}
.cart-item-remove :hover{
    cursor: pointer;
    font-size: 12px;
    width: 30px;
    height: max-content;
    background-color: red;
    border-radius: 4px;
}
.cart-summary p{
    font-weight: 600;
    border-bottom: 2px solid rgb(190, 189, 190);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: clamp(1rem,1.3vw,1.5rem);
}
.cart-total{
    font-size: clamp(1.2rem,1,8vw,2rem);
    color: rgb(250, 82, 82);
    
}
.cart-button{
    border: none;
    font-size: 18px;
    background-color: rgb(2, 130, 45);
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 0px;
    width: auto;
    height:auto;
    color: white;
    margin-top: 5vh;

}
.cart-button :hover{
    background-color: rgb(1, 60, 1);
    cursor: pointer;
}
.payment-popup-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(3px);
}

.payment-popup {
  width: 500px;
  background: #fff;
  border-radius: 18px;
  padding: 20px;
  text-align: center;
  display: grid;
  gap: 15px;
  animation: fadeIn .35s ease;
  box-shadow: 0 8px 30px rgba(0,0,0,.25);
}

.payment-popup h2 {
  color: black;
  margin-bottom: 10px;
  font-size: clamp(1.2rem,1.8em,2.3rem);
}

.payment-popup input,
.payment-popup select {
  padding: 11px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
}

.popup-total {
  display: flex;
  justify-content: space-between;
  background: #eceaea;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  font-size: clamp(1rem,1.5em,2rem);
  color: rgb(247, 82, 82);

}
.popup-total span{
    color: black;
}

.confirm-btn {
  background: rgb(2, 130, 45);
  color: #f5f2f2;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 18px;
}

.confirm-btn:hover {
  background: rgb(163, 3, 3);
}

.close-btn {
  position: absolute;
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 0px;
  left: 61%;
  color:grey;
  z-index: 3000000; 
}
.close-btn:hover{
    color: rgb(228, 6, 6);
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(.7);}
  to {opacity: 1; transform: scale(1);}
}


@media (max-width:1024px){
    .cart-items{
        width: 100%;
        margin: 3vh 1vh;
    }
}