.food-display{
    margin: 20px 0;

}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
    margin-top: 20px;
    row-gap: 50px;
    border-radius: 10% 10% 10% 10%;
}
.food-display h2{
    font-size: max(2vw, 24px);
    font-weight: 600;
}