.navbar{
    display: flex;
    width: 100%;
    height: 95px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20%;
    background-color: transparent whitesmoke;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);  
    color: white;
    font-weight: 500;
    position: fixed;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(30px);
    margin-bottom: 300px;
}
.navbar .logo{
    padding: 5px;
    width: 150px;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar-menu{
    display:flex;
    gap: 30px;
    font-size:1.2em;  
    list-style: none;
    cursor: pointer;
    animation: backwards;
 }
.navbar-menu :hover{
    color: rgb(95, 1, 95);
    text-decoration: none;
    font-weight: 600;  
    transition:0.5s;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    
}
.navbar button{
    background-color: transparent;
    border: 1px solid black;
    color: rgb(91, 6, 171);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.7s;
}
.navbar button:hover{
    background-color: rgb(91, 6, 171);
    color: white;
    transition: 0.7s;
    font-weight: 600;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: red;
    border-radius: 50%;
    top: -5px;
    right: -5px;
}
.basket-icon{
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 3px solid  rgb(95, 1, 95);
}
.navbar-spacer{
    flex-grow: 1;
    position: fixed;
    z-index: 20;
    top: 20vh;
    right: 0;
}
@media (max-width: 1050px) {
    .navbar .logo{
        width: 140px;
    }    
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width: 900px) {
    .navbar{
        padding: 0 10%;
    }
    .navbar .logo{
        width: 120px;
        height: fit-content;
    }    
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
    .basket-icon{
    width: 25px;
    height: 22px;
    cursor: pointer;
}
}

@media (max-width: 750px) {
     .navbar{
        padding: 0 10%;
        height: 80px;
     }
     .navbar .logo{
        width: 100px;
     }
    .navbar-menu{
        display: none;
    }
    .basket-icon{
    width: 22px;
    height: 20px;
    cursor: pointer;
}
}

