.search-page {
    margin: 30vh 0;
    padding-top: 10vh;
   
}
.product-list{
  display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
    margin-top: 20px;
    row-gap: 50px;
    border-radius: 10% 10% 10% 10%;
}
.product-item {
    width: auto;
    margin: auto;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: transparent;
    text-align:start;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeIn 0.8s ease-in;
}

.product-item:hover {
  transform: scale(1.03);
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit:cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
