.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    overflow-y: auto;
    justify-content: center;
    padding: 2rem;
    z-index: 100;
}

.modal-content {
    background-color: white;
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 30rem;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    position: relative;
    animation: popIn 0.25s ease-out;
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #555;
    font-size: 1.25rem;
    background-color: none;
    border: none;
    cursor: pointer;
}

.modal-close:hover {
    color: #000;
    background-color: #b30000;
}

.modal-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.modal-desc{
    font-size: clamp(1rem, 1vw, 1.2rem);
    color: #666;
    margin-bottom: 15px;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    display: -webkit-box;
  -webkit-line-clamp: 2;   
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.modal-price{
    font-size: 18px;
    font-weight: 700;
    color:rgb(4, 215, 85);
    margin: 20px 0;
}
.counter {
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 0.5rem;
}

.counter button {
    background-color: #f0f0f0;
    border: none;
    padding: 0.4rem 0.8rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.2s;
}

.counter button:hover {
    background-color: #e0e0e0;
}

.counter span{
    font-weight: 600;
    font-size: 1.1rem;
    width: 2rem;
    text-align: center;
}
.btn-primary {
    background-color: #00ff33;
    color: #fff;
    border: none;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    flex: 1; 
    text-align: center;
}
.btn-primary:hover{
    background-color: #00b330;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btn-secondary {
    background-color: #ff0000;
    color: #333;
    border: none;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
    flex: 1; 
    text-align: center;
}
.btn-secondary:hover{
    background-color: #b30000;
}