@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', 'Segoe UI', Tahoma, Verdana;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

/* Bouton */
.theme-toggle-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

/* Transition fluide partout */
* {
  transition: background-color 0.35s ease, color 0.35s ease, border-color .35s ease,
              transform .25s ease;
}
