@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', 'Segoe UI', Tahoma, Verdana;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  margin: auto;
  width: 85%;
}
@keyframes fadeIn {
  0% { 
    opacity: 0; 
  }
  100% { 
    opacity: 1; 
  }
  
}




/* ScrollToTopButton */
.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 999;
}

.scroll-to-top:hover {
  background-color: #555;
}

/* quand visible */
.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
